bus2osm/files/route.osm.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="osm">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="node">
					<xs:complexType>
						<xs:attribute name="id" type="xs:byte" use="required" />
						<xs:attribute name="visible" type="xs:boolean" use="required" />
						<xs:attribute name="lat" type="xs:decimal" use="required" />
						<xs:attribute name="lon" type="xs:decimal" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="relation">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="member">
								<xs:complexType>
									<xs:attribute name="type" type="xs:string" use="required" />
									<xs:attribute name="ref" type="xs:byte" use="required" />
									<xs:attribute name="role" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" name="tag">
								<xs:complexType>
									<xs:attribute name="k" type="xs:string" use="required" />
									<xs:attribute name="v" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:byte" use="required" />
						<xs:attribute name="visible" type="xs:boolean" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:decimal" use="required" />
			<xs:attribute name="generator" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>